.ticket-card {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .ticket-detail {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }

  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    color: white;
  }
  