.cart {
    margin: 20px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  