.order-card {
    width: 100%;
  }
  
  .order-card .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    text-align: center;
  }
  
  .order-card .card-body {
    padding: 20px;
  }
  
  .order-card .carousel .carousel-item {
    text-align: center;
  }
  
  .order-card .carousel-control-prev-icon,
  .order-card .carousel-control-next-icon {
    filter: invert(100%);
  }
  
  .order-card .product-image {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .order-card .total-price {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
  }
  
  @media (max-width: 576px) {
    .order-card .card {
      margin-bottom: 20px;
      width: 100%;
    }
  
    .order-card .card-body {
      padding: 10px;
    }
  
    .order-card .product-image {
      max-width: 80px;
    }
  
    .order-card .carousel-control-prev-icon,
    .order-card .carousel-control-next-icon {
      display: none;
    }
  
    .order-card .total-price {
      font-size: 1em;
    }
  }
  